@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf"), format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf"), format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --green: #b9ff66;
    --black: rgb(0, 0, 0);
    --dark: #191a23;
    --white: #f3f3f3;
    --primary: #003366;
    --secondary: #1B1B1B;
    --secondaryLight: #E6E6E6;
    --action: #336B87;
  }

  @layer base {
    * {
      box-sizing: border-box;
      font-family: "Montserrat";
      scroll-behavior: smooth;
    }

    body {
      font-size: 20px;
    }

    p {
      font-size: 1rem;
    }

    h1 {
      font-size: 3rem;
      line-height: 120%;
      font-weight: 500;
    }

    h2 {
      font-size: 2rem;
      font-weight: 500;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    h4 {
      font-size: 1rem;
      font-weight: 500;
    }

    .navbar-element:hover {

      color: #fff;
      background: #336B87;
      background: linear-gradient(135deg,rgba(51, 107, 135, 1) 0%, rgba(58, 131, 160, 1) 50%, rgba(86, 159, 186, 1) 100%);
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 0.375rem;

    }

    @media (max-width: 640px) {
      body {
        font-size: 16px;
      }

      p {
        font-size: 1rem;
      }

      h1 {
        font-size: 2.688rem;
      }

      h2 {
        font-size: 2.25rem;
      }

      h3 {
        font-size: 1.625rem;
      }

      h4 {
        font-size: 1.125rem;
      }
    }
  }

  @layer components {
    .btn-primary {
      @apply bg-action text-white rounded-lg px-[35px] py-5 transition-all duration-200;
    }
    .btn-primary:hover {
      @apply bg-action transform scale-105;
    }

    .btn-secondary {
      @apply bg-transparent text-black text-base px-4 py-2 rounded-lg border border-solid border-black transition-all duration-200;
    }
    .btn-secondary:hover {
      @apply bg-black text-white border-green transform scale-105;
    }

    .btn-tertiary {
      @apply bg-green text-black rounded-lg px-[35px] py-5 transition-all duration-200;
    }
    .btn-tertiary:hover {
      @apply bg-white text-black transform scale-105;
    }

    .greenhead {
      @apply bg-green text-black rounded-[7px] px-[7px];
    }

    .whitehead {
      @apply bg-white text-black rounded-[7px] px-[7px];
    }

    .blackhead {
      @apply bg-black text-white rounded-[7px] px-[7px];
    }

    .primaryhead {
      @apply text-primary font-bold px-[7px];
    }

    .secondaryhead {
      @apply bg-mb-800 text-white rounded-[7px] px-[7px];
    }
  }
}
