---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/pics/proposal-pic.svg";
---

<Section id="proposal">
  <Card>
    <div
      class="grid grid-cols-1 grid-template md:grid-cols-2 md:grid-rows-1 mt-[135px] bg-[#F3F3F3] rounded-md"
      style="margin-bottom: 20px;"
    >
      <div class="w-full" style="padding: 20px;">
        <h2 class="text-primary">¡Hagamos que las cosas pasen!</h2>
        <p class="my-[35px] text-gray-600">
          Contáctanos hoy e infórmate sobre nuestro negocio,
          si vemos interes de tu parte te haremos una Propuesta
          que no podrás rechazar.
        </p>
        <button class="btn-primary">Obtén tu propuesta gratis</button>
      </div>
      <picture
        class="relative row-span-1 md:row-span-3 inline-flex justify-center items-center"
      >
        <Image
          src={propImg}
          alt="Proposal Ilustration"
          class="w-[400px] rounded-lg"
          loading="eager"
        />
      </picture>
    </div>
  </Card>
</Section>
<style>
  .grid-template {
    grid-template-rows: auto 1fr;
  }
</style>