---
const { isUnderline } = Astro.props;
---

{
  isUnderline ? (
    <div class="rounded-md overflow-clip bg-gray-50 shadow-md border transition hover:scale-110 cursor-pointer border-gray-300">
      <slot />
    </div>
  ) : (
    <div class="rounded-[45px]">
      <slot />
    </div>
  )
}
