---
import { Image } from "astro:assets";
import decorForm from "../../assets/pics/contact-pic.png";
---

<div
  class="grid grid-cols-1 grid-template md:grid-cols-2 md:grid-rows-1 mt-[135px] bg-[#F3F3F3] rounded-md"
>
  <form class="bg-white sm:p-6 h-full w-full lg:max-w-lg">
    <div class="flex flex-col sm:flex-row gap-[35px] sm:items-center mb-10">
      <div class="flex items-center gap-[14px]">
        <input
          type="checkbox"
          id="checkbox1"
          name="checkbox1"
          class="form-checkbox text-black"
        />
        <label for="checkbox1" class="text-black">Informaci贸n general</label>
      </div>
      <div class="flex items-center gap-[14px]">
        <input
          type="checkbox"
          id="checkbox2"
          name="checkbox2"
          class="form-checkbox text-black"
        />
        <label for="checkbox2" class="flex items-center text-black"
          >Obtener cotizaci贸n</label
        >
      </div>
    </div>

    <div class="mb-4">
      <label for="name" class="block text-black mb-2">Nombre *</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Nombre"
        class="w-full px-[30px] py-[18px] border border-black rounded-[14px] text-black outline-none"
      />
    </div>

    <div class="mb-4">
      <label for="email" class="block text-black mb-2">Correo electr贸nico *</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Correo electr贸nico"
        class="w-full px-[30px] py-[18px] border border-black rounded-[14px] text-black outline-none"
      />
    </div>

    <div class="mb-4">
      <label for="message" class="block text-black mb-2">Mensaje *</label>
      <textarea
        id="message"
        name="message"
        placeholder="Mensaje"
        class="w-full px-[30px] py-[18px] border border-black rounded-[14px] text-black outline-none"
      ></textarea>
    </div>

    <button type="submit" name="submit" class="btn-primary w-full">Enviar</button>
  </form>
  <picture class="relative row-span-1 md:row-span-3 inline-flex justify-center items-center">
    <Image 
      src={decorForm} 
      alt="decor"
      class="w-[700px] rounded-lg"
      loading="eager" 
    />
  </picture>
</div>
<style>
  .form-checkbox {
    appearance: none;
    width: 28px;
    height: 28px;
    border: 1px solid #000;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
  }

  .form-checkbox:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--action);
    transform: scale(0);
    transition: transform 0.1s ease-in-out;
  }

  .form-checkbox:checked:before {
    transform: scale(0.6);
  }
</style>
<script>
  function formSetup() {
    var cb1 = document.getElementById("checkbox1") as HTMLInputElement;
    var cb2 = document.getElementById("checkbox2") as HTMLInputElement;
    var message = document.getElementById("message") as HTMLInputElement;

    if (cb1 && cb2) {
      cb1.checked = true;

      cb2.addEventListener("change", function () {
        if (cb2.checked) {
          cb1.checked = false;
          message.value =
            "We're interested in your services! Please contact us";
        } else {
          message.value = "";
          cb1.checked = true;
        }
      });
      cb1.addEventListener("change", function () {
        if (cb1.checked) {
          cb2.checked = false;
          message.value = "";
        } else {
          cb2.checked = true;
          message.value =
            "We're interested in your services! Please contact us";
        }
      });
    }
  }

  formSetup();
  document.addEventListener("astro:after-swap", formSetup);
</script>
